[submodule "source/Submodules/DotNetCorePlugins"]
	path = source/Submodules/DotNetCorePlugins
	url = https://github.com/Sewer56/DotNetCorePlugins.git
[submodule "source/Submodules/Reloaded.Messaging"]
	path = source/Submodules/Reloaded.Messaging
	url = https://github.com/Reloaded-Project/Reloaded.Messaging.git
